@use '../node_modules/highlight.js/styles/github.min.css';
@use "_argon_sds_archive";

body {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    max-width: 90rem;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: auto 1fr 25px;
}

body > header {
    grid-area: header;
}

body > header > nav {
    display: flex;
    background-color: #333;
    color: #fff;
}

body > header > nav div {
    display: inline;
    padding: 0.5em 0em;
}

body > header > nav a {
    padding: 0.5em 2em;
}

#content-action > a {
    padding: 0.3em 1em;
}

#content-action a,
body > header > nav a {
    color: #fff;
    text-decoration: none;
    transition: 0.15s;
}

#content-action a:hover,
#content-action a[aria-current="page"],
body > header > nav a:hover {
    background: #c00;
}

body > header > nav a.active,
body > header > nav a[aria-current="page"] {
    background-color: #c00;
}

body > footer {
    grid-area: footer;
    padding: 0 1em;
}

table.log-listing,
table.file-listing {
    width: 100%;
}

table.file-listing td.gitobj-tree span::before {
    content: '\1f4c1 ';
}

table.file-listing td.gitobj-exe span::before,
table.file-listing td.gitobj-blob span::before {
    content: '\1f4c4 ';
}

main {
    grid-area: main;
}

main > section {
    flex: 1;
    padding: 0 1em;
}

main > section > article {
    flex: 1;
}

main > aside {
    flex: 0 1;
}

main pre {
    white-space: pre-wrap;
    max-width: calc(100vw - 350px);
    overflow: auto;
}

main > aside > section {
    margin-right: 1em;
}

main > aside > section > h4 {
    margin-bottom: 0.33em;
}

main > aside > section > nav > ul {
    margin: 0;
    padding: 0;
}

main > aside > section > nav > ul > li {
    display: block;
}

main > aside > section > nav > ul > li > a {
    display: block;
    text-decoration: none;
    line-height: 1.5em;
    color: #000;
}

main > aside > section > nav > ul > li > a[aria-current="page"] {
    background: #e8e8e8;
}

main > aside > section > nav > ul > li > a:hover {
    background: #e0e0e0;
}

#indicator, #indicator div {
    height: 10px;
}

#indicator div.loading {
    background: repeating-linear-gradient(-45deg, #c00 0, #c00 33%, #333 0, #333 66%);
    background-size: 20px;
    animation: loading_indicator 1s infinite linear;
}

.workspace-pathinfo img {
    max-width: 100%;
}

@media (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
    }

    main > aside {
        max-width: 330px;
        margin-right: 1em;
    }

    main > aside > * {
        width: 330px;
        max-width: 330px;
        overflow-x: hidden;
    }
}

@keyframes loading_indicator {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: -40px 0px;
    }

    from {
        background-position: 0px 0px;
    }

    to {
        background-position: -40px 0px;
    }
}

/* styling for session related elements */

form#sign-in {
    width: 50vw;
    margin: auto;
}

form#sign-in > div {
    padding: 0.25em 0;
}

form#sign-in label {
    display: block;
    width: 100%;
    padding: 0.25em 0;
}

form#sign-in input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
}

#session-status {
    position: relative;
    display: inline-block;
}

#session-status > form {
    display: none;
}

#session-status:hover > form {
    padding-top: 0.5em;
    display: block;
    position: absolute;
    width: 100%;
}

#session-status button {
    font-family: 'Arial', sans-serif;
    font-size: inherit;
    width: 100%;
    padding: 0.5em 0;
    background-color: #333;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: 0.15s;
}

#session-status button:hover {
    background-color: #c00;
}

#content-action {
    display: flex;
    width: 100%;
    font-size: small;
}

#content-action > nav,
#content-action > div {
    display: inline-block;
    background: #333;
    color: #fff;
    margin-top: 1.5em;
}

#content-action > nav {
    padding: 0.3em 0;
}

#content-action ul,
#content-action li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#content-action a {
    background: #333;
    padding: 0.3em 1em;
}

#content-action > .action {
    margin-top: 1.5em;
}

#content-action-wf-state {
    padding: 0.3em 1em;
    direction: rtl;
}

#content-action-wf-state.state-private {
    background: #f00;
}

#content-action-wf-state.state-pending {
    background: #fa0;
}

#content-action-wf-state.state-published {
    background: #467;
}

#content-action-wf-state.state-expired {
    background: #746;
}

#content-action-wf-state > form {
    display: none;
    padding-top: 0.3em;
}

#content-action-wf-state:hover > form {
    margin-right: -1em;
    display: block;
    position: fixed;
    direction: initial;
}

#content-action-wf-state > form > button {
    display: block;
    width: 100%;
    background: #333;
    border-style: solid;
    border-color: #333;;
    border-width: 0.3em 0.8em;
    padding: 0.2em;
    text-align: left;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;
}

#content-action-wf-state > form > button:hover {
    background: #fff;
    color: #333;
}

.flex-grow {
    flex-grow: 1;
}

/* styling for standard form and related elements */

form.standard {
    width: 100%;
    margin: auto;
}

form.standard > div {
    padding: 0.25em 0;
}

form.standard label {
    display: block;
    width: 100%;
    padding: 0.25em 0;
}

form.standard select,
form.standard input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
}

form.standard button,
form.standard input[type="submit"] {
    box-sizing: border-box;
    width: auto;
    padding: 0.5em 3.5em;
}

.standard.error {
    color: #600;
    padding: 0.5em;
    background: #fff8f8;
    border: solid 1px #fdd;
}

.standard.ok {
    color: #060;
    padding: 0.5em;
    background: #f8fff8;
    border: solid 1px #dfd;
}

form .status .error,
form .status .okay,
form .status .spinner,
form .status {
    display: inline;
}

form .status .error,
form .status .okay,
form .status .spinner {
    margin: 0 0.5em;
}

form .status .okay {
    color: #070;
    transition: opacity 2s ease-in-out;
    opacity: 1;
}

form .status .okay.fadeout {
    opacity: 0;
}

form .status .error {
    background: #fee;
    color: #700;
    font-size: 0.8em;
    padding: 0.1em 0.75em;
    vertical-align: 0.1em;
    border: 1px solid #700;
}

form .status .spinner > div {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: #888;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.0s infinite ease-in-out both;
    animation: sk-bouncedelay 1.0s infinite ease-in-out both;
}

form .status .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

form .status .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
