@use '../node_modules/highlight.js/styles/github.min.css';

body {
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  max-width: 90rem;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
      'nav'
      'main';
  grid-template-rows: auto 1fr;
}

nav {
  display: flex;
  background-color: #333;
  color: #fff;
}

nav a {
  color: #fff;
  padding: 0.5em 2em;
  text-decoration: none;
}

nav a.active, nav a[aria-current="page"] {
  background-color: #c00;
}

table.file-listing {
  width: 100%;
}

table.file-listing td.gitobj-tree span::before {
  content: '\1f4c1 ';
}

table.file-listing td.gitobj-exe span::before,
table.file-listing td.gitobj-blob span::before {
  content: '\1f4c4 ';
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    'article'
    'sidebar'
    'footer';
}

main > article {
  grid-area: article;
  padding: 0 1em;
}

main > aside {
  grid-area: sidebar;
}

main > footer {
  grid-area: footer;
  padding: 0 1em;
}

main pre {
  white-space: pre-wrap;
  max-width: calc(100vw - 350px);
  overflow: auto;
}

#indicator, #indicator div {
  height: 10px;
}

#indicator div.loading {
  background: repeating-linear-gradient(-45deg, #c00 0, #c00 33%, #333 0, #333 66%);
  background-size: 20px;
  animation: loading_indicator 1s infinite linear;
}

.workspace-pathinfo img {
  max-width: 100%;
}

@media (min-width: 768px) {
  main {
    grid-template-areas:
      'article sidebar'
      'footer footer';
    grid-template-rows: 1fr 25px;
    grid-template-columns: 1fr 330px;
  }
}

@keyframes loading_indicator {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: -40px 0px;
  }

  from {
    background-position: 0px 0px;
  }

  to {
    background-position: -40px 0px;
  }
}
