name: build

on:
  push:
    branches:
      - "main"
      - "testing"
  pull_request:
    branches:
      - "main"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Purge unneeded files for disk space
      run: |
        echo "Before:"
        df -h
        sudo rm -rf /usr/lib/jvm
        sudo rm -rf /usr/share/swift
        sudo rm -rf /usr/local/.ghcup
        sudo rm -rf /usr/local/julia*
        sudo rm -rf /opt/hostedtoolcache/CodeQL
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf /usr/local/share/boost
        sudo rm -rf /opt/az
        sudo rm -rf /usr/local/share/powershell
        sudo rm -rf /opt/hostedtoolcache

        # docker system prune -af
        # docker builder prune -f
        # docker image prune -af
        # docker volume prune -f
        echo "After:"
        df -h

    - name: Add wasm32-unknown-unknown
      run: rustup target add wasm32-unknown-unknown

    - name: Install binstall
      uses: cargo-bins/cargo-binstall@main

    - name: Install wasm-bindgen
      run: cargo binstall wasm-bindgen-cli --no-confirm

    - name: Install cargo-leptos
      run: cargo binstall cargo-leptos --no-confirm

    - name: Build pmrplatform
      run: cargo build

    - name: Build pmrapp (with webpack)
      run: |
        cd pmrapp
        npm install
        npx webpack
        cd ..

    - name: Build pmrapp (with cargo-leptos)
      run: cargo leptos build

    - name: Run tests
      run: |
        cargo test --all-features
        cargo test --package pmrbin --all-features
        cargo test --package pmrapp --features=hydrate
        cargo test --package pmrapp --features=ssr
